.App {
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 4px;
  background-color: rgb(87, 151, 253);
}

.header_nav{
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.header_home{
  text-decoration: none;
  color: black;
}
.header_covid{
  text-decoration: none;
  color: black;
}
.header_home:hover{
  color: white;
}
.header_covid:hover{
  color: white;
}
.header_title{
  font-size: larger;
  padding-left: 80px;
}
